@import "../css/variables";

.blog-showcase {
  .single-blog {
    transition: $transition-basic;
  }
  .btn {
    display: block;
    max-width: 158px;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
  }

  .blog-btn {
    &:after {
      top: 13px;
      right: -15px;
      color: inherit;
    }
  }

  .blog-item {
    @media (min-width: $md) {
      margin-bottom: 40px;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination-arrow-prev {
    margin-right: 15px;
  }

  .pagination-arrow-next {
    margin-left: 15px;

    i {
      margin-left: 4px;
    }
  }
}
