@import "../css/variables";

[id] .blog-content {
  pre,
  pre[class] {
    max-width: 100%;
    width: 100%;
    margin: 20px 0;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 500px;
    font-size: 14px !important;
  }

  blockquote {
    background-color: #f7f7f7;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &-wrapper {
    @media (max-width: $md) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &-share {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
    display: flex !important;
    @media (max-width: $xs) {
      margin-left: 0 !important;
      display: block !important;
    }
  }

  &-block {
    &--sidebar {
      @media (max-width: $md) {
        margin-top: 20px;
      }
    }
  }

  &-info {
    @media (max-width: $xxxs) {
      font-size: 12px;
    }

    @media (max-width: 340px) {
      font-size: 11px;
    }

    li:nth-child(1) {
      padding-left: 0 !important;
    }
  }

  &-details {
    @media (min-width: $md) {
      max-width: 95%;
    }

    img {
      max-width: 100%;
      width: 100% !important;
      border-radius: $border-radius;
    }

    p {
      font-size: 15px !important;
    }

    ul,
    ol {
      padding: 10px 0;
      padding-left: 15px;
      list-style-type: revert;
    }

    li {
      padding: 5px 0;
      list-style: unset;

      img {
        max-width: 600px;
        width: 100%;
        margin: 10px 0;
      }
    }

    a {
      color: $accent;
    }
  }

  .post-date {
    line-height: normal !important;
  }

  .social-icons .social-icon i {
    line-height: 36px;

    &:nth-child(2) {
      position: relative;
      top: 5px;
    }
  }

  .blog-content-text {
    h1,
    h2,
    h3,
    h4 {
      line-height: 150%;
      margin: 20px 0;
    }

    .blog-title {
      margin-top: 0;
      font-size: 25px;
    }
  }

  .blog-featured-image {
    margin-bottom: 25px;
  }

  video,
  iframe {
    max-width: 100%;
    width: 100%;
    min-height: 26.4vw;

    @media (max-width: $xxs) {
      min-height: unset;
      max-height: 50vw;
    }
  }
}
