@import "../css/variables";

.blog-showcase {
  .single-blog {
    transition: $transition-basic;
  }
  .btn {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
  }

  .blog-btn {
    &:after {
      top: 13px;
      right: -15px;
      color: inherit;
    }
  }

  .blog-item {
    @media (min-width: $md) {
      margin-bottom: 40px;
    }
  }
}
