@import "../css/variables";
@import "../css/animations";

$loader-size: 13px;

.CartEcwid {
  width: 50px;
  height: 50px;
  position: relative;

  * {
    transition: $transition-basic;
  }

  .ec-minicart:hover svg {
    transition: $transition-basic;
    opacity: 0.75 !important;
  }

  svg[class*="icon"] {
    width: 30px !important;
    height: 30px !important;
  }

  svg[class*="icon"] * {
    stroke: white !important;
  }

  .ec-minicart__counter:after {
    background-color: $black !important;
  }

  // Sticky cart
  @at-root {
    .navbar-sticky-transitioned {
      .CartEcwid {
        height: 45px;
      }
      .CartEcwid svg[class*="icon"] * {
        stroke: $black !important;
      }

      .ec-minicart__counter {
        transform: scale(0.8) !important;
      }
    }
  }

  &-skeleton {
    position: absolute;
    top: 8px;
    right: 12px;

    // hides skeleton when it's loaded
    @at-root {
      [class^="ecwid-customer"] & {
        animation: fade-out 0.32s ease both;
        animation-delay: 1s;
      }
    }
  }

  .lds-ring {
    display: inline-block;
    position: absolute;
    width: $loader-size;
    height: $loader-size;
    top: -3px;
    right: -4px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: $loader-size;
    height: $loader-size;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;

    @at-root {
      .navbar-sticky-transitioned .CartEcwid .lds-ring div {
        border-color: $black transparent transparent transparent;
      }
    }
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.CartEcwid--desktop {
  @media (max-width: $md) {
    display: none;
  }
}

.CartEcwid--mobile {
  @media (min-width: $md) {
    display: none;
  }
}

/* Other styles related to the popup per se */

.ecwid-ProductBrowserPopup > div {
  max-height: 90vh;
  overflow-y: scroll;
}

.ec-cart-item__count-inner {
  display: none;
}

.ec-cart-item__price-inner {
  text-align: left !important;
}

.ecwid-overlay {
  z-index: 9999 !important;
}

@media (max-width: $xxs) {
  button.ecwid-popup-closeButton {
    top: 23px !important;
    transform: scale(1.2);
    right: 14px !important;
  }
}
