#contact {
  .media {
    display: inline-flex;
  }

  .contact-social-icons {
    svg {
      vertical-align: 0.075em;
    }
    i {
      position: relative;
      top: -4px;
    }
  }

  .form-error {
    color: salmon;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
  }

  .form-group--recaptcha {
    margin-bottom: 0;
  }

  select {
    max-width: 95%;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 1rem;
    border-radius: 0;
    &:disabled {
      opacity: 0.6;
    }
  }
}
