@import "../css/variables";

.features {
  li {
    list-style-type: "✓" !important;
    padding-left: 10px;
    position: relative;
  }

  &-title {
    &--desktop {
      @media (max-width: $md) {
        display: none;
      }
    }

    &--mobile {
      text-align: center;
      @media (min-width: $md) {
        display: none;
      }
    }
  }
}
