@import "../css/variables";

.Feedback {
  background: #e9e9e94f;
  padding: 20px;
  border-radius: $border-radius;
  margin-top: 0px;

  &.Feedback--desktop {
    @media (max-width: $xs) {
      display: none;
    }
    @media (min-width: $xs) {
      display: flex;
    }

    z-index: 9;
    background: white;
    position: fixed;
    overflow: auto;
    right: 15px;
    bottom: 15px;
    border: 1px solid rgb(145, 151, 159);
    border-radius: 3px;
    max-width: 234px;
    min-height: 130px;

    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &.Feedback--mobile {
    @media (min-width: $xs) {
      display: none;
    }
    @media (max-width: $xs) {
      display: block;
    }

    .Feedback-close {
      display: none;
    }
  }

  &.Feedback--invisible {
    display: none;
  }

  &--completed {
    *:not(.Feedback-close) {
      pointer-events: none;
    }
  }

  &--loading {
    &,
    * {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  .Feedback-close {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    transform: scale(1.1);
    width: auto;
  }

  .Feedback-title {
    margin-bottom: 5px;
    margin-top: -7px;

    a {
      text-decoration: underline;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .Feedback-feedback {
    display: none;
    flex-direction: column;
    max-width: 300px;
    margin-top: 10px;
  }

  .Feedback-submit {
    margin-top: 20px;
    width: 100%;
  }

  .Feedback-textarea {
    background: #ffffff;
    border: 0.0625rem solid #eee;
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: #1f1f1f;
    max-width: 28rem;
    outline: none;
    padding: 1rem;
    resize: none;
    width: 100%;
  }

  .Feedback-buttons {
    display: flex;
    line-height: 1;
  }
  .Feedback-button {
    border: 1px solid #dfe3e6;
    color: #606a72;
    background: #dfe3e6;
    margin-left: 6px;
    width: 82px;
    font-weight: bold;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.32s;
    border-color: transparent;
    border: 1px solid transparent;
    height: 35px;
    &:first-of-type {
      margin-left: 0;
      margin-right: 10px;
    }

    &:active,
    &:visited,
    &:hover {
      background: white;
      border-color: #919191;
      transition: all 0.32s;
    }

    svg {
      height: 17px;
      width: 16px;
    }
  }

  &--icon-yes {
    width: 19px;
    height: 15px;
    position: relative;
  }
}

.Feedback--clicked {
  .Feedback-buttons {
    display: none;
  }

  .Feedback-feedback {
    display: flex;
  }
}
