@import "../css/variables";

$blue: #00ffffd4;
$pink: #ff00ffab;

.fbt {
  margin: 20px auto;
  width: 100%;
  height: auto;
  clear: both;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  max-width: 400px;

  @media (min-width: $xs) {
    margin-left: 0;
  }

  &-title {
    font-size: 15px;
    color: #444;
    font-weight: 400;
    margin-bottom: 1rem;

    border-color: rgb(170, 170, 170);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.5em;
    padding-top: 15px;
  }

  &-figures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    @media (max-width: $xxs) {
      flex-direction: column;

      & > * {
        display: block;
      }
    }
  }

  &-figure {
    max-width: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: $xxs) {
      flex-direction: column;
      max-width: 200px;
      width: 100%;
    }

    img {
      //   box-shadow: inset 0 0 10px #fff, inset 2px 0 10px $pink,
      //     inset -2px 0 10px $blue, inset 2px 0 10px $pink, inset -2px 0 10px $blue,
      //     0 0 10px #fff, -1px 0 10px $pink, 1px 0 10px $blue;
    }

    // &:after {
    //   content: "+";
    //   font-size: 14px;
    //   display: inline-block;
    //   position: relative;
    // }

    // &:last-of-type:after {
    //   display: none;
    // }
  }

  &-icon {
    pointer-events: none;
    margin-left: 4px;

    @media (max-width: $xxs) {
      display: block;
      margin-top: 10px;
      font-size: 20px;
      margin-bottom: 10px;
    }

    @at-root {
      .fbt-figures > span:last-of-type {
        display: none;
      }
    }
  }

  &-button {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none solid black;
    text-align: center;
    vertical-align: top;
    max-height: 70px;
    letter-spacing: 0;
    white-space: normal;
    line-height: normal;
    color: #000;
    background: #3d3d3d;
    box-shadow: none;
    border-width: 1px;
    border-radius: 3px;
    border-color: #ffc621;
    padding: 10px 50px;
    opacity: 1;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    cursor: pointer;
    border-style: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: $transition-basic;
    &:hover {
      background: lighten(#3d3d3d, 10%);
    }
  }

  &-subtitle {
    display: inline-block;
    border-width: initial;
    border-image: initial;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 10px;
    border-color: rgb(170, 170, 170);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  &-total {
    margin-top: 15px;

    &-small {
      font-size: 16px;
      margin-right: 6px;
      font-weight: bold;
    }

    &-small + &-big {
      text-decoration: line-through;
      font-size: 13px;
    }
  }

  &-discount {
    margin-top: 10px;
    margin-bottom: 3px;
    * {
      font-size: 15px !important;
    }
  }

  &-options {
    margin-top: 15px;
  }

  &-option {
    display: flex;
    align-items: center;
    text-align: left;
  }

  &-name {
    > .fbt-this-item {
      font-size: 11px;
    }
  }

  &-checkbox {
    margin-right: 10px;
    transform: scale(1.3);
    transform-origin: center;
    position: relative;
    top: 2px;
  }

  &-label {
    text-align: left;
    & > * {
      display: inline-block;
    }
  }

  &-price {
    margin-left: 5px;
    font-style: italic;
    font-size: 12px;
    display: inline-block;
  }
}
