@import "../css/variables";

$blue: #00ffffd4;
$pink: #ff00ffab;

.fbt {
  margin: 20px auto;
  width: 100%;
  height: auto;
  clear: both;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #666cc4;
  border-radius: 4px;
  max-width: 400px;
  background: #ededf852;

  @media (min-width: $xs) {
    margin-left: 0;
  }

  &-progress {
    margin-top: -2px !important;
    margin-bottom: 20px !important;
    transition: all 0.32s;
    background: #8080803d;
    border-radius: 20px;
    position: relative;

    & > * {
      height: 6px !important;

      margin: unset !important;
      transition: all 0.32s;
    }
  }

  &-title {
    font-size: 18px;
    color: #444;
    font-weight: 700;

    border-color: rgb(170, 170, 170);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 8px;
    margin-bottom: 5px;
    // padding-top: 15px;

    &--discount-unlocked {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 4px;
    }
  }

  &-gif {
    width: 40px;
    height: 40px;
    position: relative;

    &--reversed {
      transform: scale(-1, 1);
    }
  }

  &-subtitle {
    display: flex;
    border-width: initial;
    border-image: initial;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;

    border-radius: 4px;
    font-size: 15px;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 60px;

    align-items: center;
    justify-content: center;

    .discount {
      font-size: 15px;
      position: relative;
    }

    & > span {
      line-height: 100%;
    }
  }

  &-figures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    @media (max-width: $xxs) {
      flex-direction: column;

      & > * {
        display: block;
      }
    }
  }

  &-figure {
    max-width: 300px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: $xxs) {
      flex-direction: column;
      max-width: 100%;
      width: 100%;
    }

    img {
      //   box-shadow: inset 0 0 10px #fff, inset 2px 0 10px $pink,
      //     inset -2px 0 10px $blue, inset 2px 0 10px $pink, inset -2px 0 10px $blue,
      //     0 0 10px #fff, -1px 0 10px $pink, 1px 0 10px $blue;
    }
  }

  &-icon {
    pointer-events: none;
    margin-left: 4px;
    font-size: 18px;

    @media (max-width: $xxs) {
      display: block;
      margin-top: 10px;
      font-size: 20px;
      margin-bottom: 10px;
    }

    @at-root {
      .fbt-figures > span:last-of-type {
        display: none;
      }
    }
  }

  &-button {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none solid black;
    text-align: center;
    vertical-align: top;
    max-height: 70px;
    letter-spacing: 0;
    white-space: normal;
    line-height: normal;
    color: #000;
    background: #3d3d3d;
    box-shadow: none;
    border-width: 1px;
    border-radius: 3px;
    border-color: #ffc621;
    padding: 10px 50px;
    opacity: 1;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    cursor: pointer;
    border-style: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: $transition-basic;
    &:hover {
      background: lighten(#3d3d3d, 10%);
    }
  }

  &-pricing {
    // height: 53px;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    // justify-content: end;
  }

  /* Total price
  ================================================ */
  &-total {
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &--original {
      margin-top: 0 !important;
      margin-bottom: 0px !important;
    }

    & > * {
      max-width: 50%;
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-price {
      margin-left: 10px;

      &--discount {
        text-decoration: line-through;
      }
    }

    &-discounted-price {
      margin-left: 10px;
      font-size: 17px;
      font-weight: bold;
    }
  }

  &-discount {
  }

  &-options {
    margin-top: 15px;
  }

  &-option {
    display: flex;
    align-items: center;
    text-align: left;
  }

  &-name {
    > .fbt-this-item {
      font-size: 11px;
    }
  }

  &-checkbox {
    margin-right: 10px;
    transform: scale(1.3);
    transform-origin: center;
    position: relative;
    top: 2px;
  }

  &-label {
    text-align: left;
    & > * {
      display: inline-block;
    }
  }

  &-price {
    margin-left: 5px;
    font-style: italic;
    font-size: 12px;
    display: inline-block;
  }
}
