@import "../css/variables";
@import "../css/animations";

#navbarSection {
  &.navbar-sticky-on {
    padding: 0;
    height: 50px;
    .container {
      height: 50px;
    }
  }

  &:not(.navbar-sticky-on) .container {
    padding-top: 5px;
  }

  &.navbar-sticky-on a.navbar-brand {
    left: 15px;
    position: relative;
    top: 1px;
    max-width: 55px;
    margin-left: 9px;
    margin: 0 !important;
  }

  .navbar-brand {
    position: relative;
  }

  .navbar-brand {
    max-width: 55px;

    img {
      transition: 0.23s all;
    }

    &:hover img {
      opacity: 0.7 !important;
    }
  }
}

@media (min-width: 991px) {
  #navbarSection.navbar-sticky-on a.navbar-brand {
    top: 7px;
  }
}

@media (max-width: 338px) {
  .navbar .navbar-inner {
    right: -107%;
    -webkit-transition: right 0.3s 0.2s;
    transition: right 0.3s 0.2s;
  }
}
