@import "../css/variables";
@import "../css/animations";

$color-dark-mode: linear-gradient(-47deg, #8731e8 0%, #4528dc 100%);
$color-sticky: white;

#navbarSection {
  &.navbar-sticky-on {
    padding: 0;
    height: 50px;
    .container {
      height: 50px;
    }

    .navbar-mobile-actions {
      position: relative;
      top: -7px;

      .cart-button {
        position: relative;
        left: 5px;
        transform: scale(1.13);
        svg {
          fill: #7e8085;
        }
      }
    }
  }

  .navbar-toggler {
    height: 52px;
  }

  //dark mode is used when you don't want the main navbar to be transparent, so it will be full color.
  &.navbar--dark-mode:not(.navbar-sticky-on) {
    background: $color-dark-mode;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;

    .container {
      padding: 0;
    }

    .navbar-brand-regular {
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
      position: relative;
      top: 8px;
    }
  }

  &.navbar-sticky-transitioned {
    background: $color-sticky !important;
  }

  &:not(.navbar-sticky-on) .container {
    padding-top: 5px;
  }

  &.navbar-sticky-on a.navbar-brand {
    left: 15px;
    position: relative;
    top: 1px;
    max-width: 55px;
    margin-left: 9px;
    margin: 0 !important;
  }

  .navbar-brand {
    position: relative;
  }

  .navbar-brand {
    max-width: 55px;

    img {
      transition: 0.23s all;
    }

    &:hover img {
      opacity: 0.7 !important;
    }
  }

  .navbar-mobile-actions {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    width: 100%;
    align-items: center;

    .cart-button {
      border: unset;
      padding: 0 !important;
      max-width: 50px;
      width: 100%;
      text-align: center;
      position: relative;
      top: -2px;

      svg {
        // fil
      }
    }
  }

  //desktop cart
  .cart-button {
    svg {
      width: 25px;
      height: auto;
      fill: white;
    }
  }

  .dropdown-menu {
    .nav-link {
      color: $text-color !important;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px;
    }
  }
}

@media (min-width: 991px) {
  #navbarSection.navbar-sticky-on a.navbar-brand {
    top: 7px;
  }
}

@media (max-width: 338px) {
  .navbar .navbar-inner {
    right: -110%;
    -webkit-transition: right 0.3s 0.2s;
    transition: right 0.3s 0.2s;
  }

  .canvas-open .navbar-expand-lg .navbar-inner {
    left: 0 !important;
  }
}
