@import "../css/variables";

/* ORIGINAL STYLES
========================== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;

  &--invisible {
    animation: fade-out 0.22s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    pointer-events: none;
  }
  &--visible {
    animation: fade-in 0.22s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .checkmark-icon {
    fill: white;
    width: 12px;
    height: 12px;
  }

  .modal[data-v-cad483e2] {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: default;
    background: #fff;
    max-width: 696px;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background: white;
    flex-direction: column;
    margin-right: 32px;
    margin-left: 17px;
  }

  .modal button > svg {
    width: 15px;
    height: 15px;
    background: transparent;
  }
  @media screen and (min-height: 1200px) {
    .modal[data-v-cad483e2] {
      max-height: 50vh;
    }
  }
  .modal--with-shadow[data-v-cad483e2] {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  .modal--rounded[data-v-cad483e2] {
    border-radius: 15px;
  }
  .close-button[data-v-cad483e2] {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 8;
    font-weight: 700;
    background: transparent;
    border: unset;
    fill: white;
    cursor: pointer;
  }
  @media (max-width: 639px) {
    .close-button[data-v-cad483e2] {
      top: 18px;
      right: 18px;
    }
  }
  .loading-backdrop[data-v-cad483e2] {
    position: absolute;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .button[data-v-119b77a1] {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    font: inherit;
    font-weight: 500;
    line-height: 1.67;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.188em;
    cursor: pointer;
    border: 0 solid transparent;
    border-radius: 50px;
    outline: 0;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color, background-color, color;
    transform: translateZ(0);
  }
  .button__ripples[data-v-119b77a1] {
    position: absolute;
    z-index: inherit;
    width: 100%;
    height: 100%;
  }
  .button--red[data-v-119b77a1] {
    background-color: #fa2356;
    border-color: #fa2356;
    color: #fff;
  }
  .button--red[data-v-119b77a1]:hover {
    background-color: #d21d48;
    border-color: #d21d48;
    color: #fff;
  }
  .button--red[data-v-119b77a1]:focus {
    background-color: #fa2356;
    border-color: #ff93ad;
    box-shadow: none;
    color: #fff;
  }
  .button--red[data-v-119b77a1]:active {
    color: #00f;
    background-color: #fa2356;
    color: #fff;
  }
  .button[data-v-119b77a1]:disabled {
    color: #000;
    pointer-events: none;
    background-color: #9da3a9;
    border-color: #9da3a9;
  }
  @media (min-width: 1200px) {
    .button--medium[data-v-119b77a1] {
      font-size: 12px;
      padding: 18px 48px;
      border-width: 0;
    }
    .button--medium[data-v-119b77a1]:focus {
      padding: 15px 45px;
      border-width: 3px;
    }
  }
  .button--medium-mobile[data-v-119b77a1] {
    font-size: 12px;
    padding: 14px 40px;
    border-width: 0;
  }
  .button--medium-mobile[data-v-119b77a1]:focus {
    padding: 11px 37px;
    border-width: 3px;
  }
  @media (min-width: 1200px) {
    .button--medium-mobile[data-v-119b77a1] {
      padding: 18px 48px;
      border-width: 0;
    }
    .button--medium-mobile[data-v-119b77a1]:focus {
      padding: 15px 45px;
      border-width: 3px;
    }
  }
  .content[data-v-66804512]::-webkit-scrollbar:vertical {
    width: 10px;
  }
  @media (max-width: 767px) {
    .trial-popup[data-v-66b79341] {
      padding: 0 8px;
    }
  }
  .trial-popup__content-wrapper[data-v-66b79341] {
    background: #0d2559;
    border-radius: 15px;
  }
  .trial-popup__bg-figure[data-v-66b79341]:not(.s) {
    position: absolute;
  }
  @media (max-width: 767px) {
    .trial-popup__bg-figure[data-v-66b79341]:not(.s) {
      opacity: 0.2;
    }
  }
  .trial-popup__bg-figure--top[data-v-66b79341]:not(.s) {
    width: 132px;
    border-top-left-radius: 15px;
    top: -30px;
    left: -30px;
  }
  .trial-popup__bg-figure--bottom[data-v-66b79341]:not(.s) {
    right: -45px;
    bottom: -40px;
    width: 181px;
    border-bottom-right-radius: 15px;
    opacity: 0.75;

    @media (max-width: $xs) {
      opacity: 0.35;
    }
  }
  .trial-popup__content[data-v-66b79341] {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 24px 48px;
  }
  @media (min-width: 768px) {
    .trial-popup__content[data-v-66b79341] {
      padding: 64px 96px;
    }
  }
  @media (max-width: 767px) {
    .trial-popup__content[data-v-66b79341] {
      position: relative;
    }
  }
  @media (max-width: 767px) {
    .trial-popup__content--with-price-disclaimer[data-v-66b79341] {
      padding: 56px 24px 40px;
    }
  }
  .trial-popup__title[data-v-66b79341]:not(.s) {
    max-width: 296px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.25;
    color: #fff;
    text-align: center;
  }
  @media (min-width: 768px) {
    .trial-popup__title[data-v-66b79341]:not(.s) {
      max-width: 452px;
      font-size: 32px;
      line-height: 1.17;
    }
  }
  .trial-popup__subtitle[data-v-66b79341]:not(.s) {
    max-width: 366px;
    margin-bottom: 32px;
    color: #fff;
    text-align: center;
  }
  @media (max-width: 767px) {
    .trial-popup__subtitle[data-v-66b79341]:not(.s) {
      max-width: 296px;
      font-size: 14px;
      line-height: 1.43;
    }
  }
  .trial-popup__checklist[data-v-66b79341] {
    margin-bottom: 28px;
  }
  @media (min-width: 768px) {
    .trial-popup__checklist[data-v-66b79341] {
      margin-bottom: 32px;
    }
  }
  .trial-popup__checklist-item[data-v-66b79341] {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    color: #fff;

    @media (max-width: $xs) {
      align-items: flex-start;
    }
  }
  .trial-popup__checklist-item-icon-wrapper[data-v-66b79341] {
    margin-right: 14px;
  }
  .trial-popup__checklist-item-icon[data-v-66b79341] {
    width: 10px;
    height: 10px;
  }
  @media (min-width: 768px) {
    .trial-popup__checklist-item-icon[data-v-66b79341] {
      width: 12px;
      height: 12px;
    }
  }
  .trial-popup__checklist-item-text[data-v-66b79341]:not(.s) {
    margin-bottom: 0;
  }
  .trial-popup__disclaimer[data-v-66b79341]:not(.s) {
    max-width: 296px;
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
    text-align: center;
  }
  @media (min-width: 768px) {
    .trial-popup__disclaimer[data-v-66b79341]:not(.s) {
      max-width: 420px;
    }
  }
  .body[data-v-570454cb] {
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    word-wrap: break-word;
    letter-spacing: 0.0313em;
  }
  @media (min-width: 768px) {
    .body--desktop[data-v-570454cb] {
      margin-bottom: 16px;

      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      word-wrap: break-word;
      letter-spacing: 0.0313em;
    }
  }
  .strong[data-v-570454cb] {
    font-weight: 700;
  }
  .standard[data-v-570454cb] {
    font-weight: 400;
  }
  [data-v-570454cb] span,
  span[data-v-570454cb] {
    display: inline-block;
  }
  .zyro-image[data-v-c1b39a62] {
    width: var(--width);
  }
  .lazyloaded[data-v-c1b39a62] {
    opacity: 1;
    transition: opacity 95ms ease;
  }

  .button-close svg {
    pointer-events: none;
  }
}

/* CUSTOM STYLES
========================== */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important;
  .trial-popup__checklist-item-text {
    color: white;
  }

  .button {
    font-weight: 300 !important;
    filter: brightness(1.7);
    transition: $transition-basic;

    &:hover {
      filter: brightness(1.9);
      transition: $transition-basic !important;
    }

    &:focus,
    &:active {
      // border-width: 0px!important;
    }
  }
}
