@import "../css/variables";
@import "../css/animations";

#portfolio {
  padding-bottom: 40px;
  .custom-overlay {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(-47deg, black, black);
      z-index: 0;
      opacity: 0.35;
      border-radius: $border-radius;
    }
  }
  .portfolio-thumb {
    min-height: 185px;
    position: relative;
    @media (max-width: $xxs) {
      min-height: 48vw;
    }
  }
  .portfolio-thumb.blog-thumb {
    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      z-index: 2;
    }
  }
  .play-btn {
    pointer-events: none;
    svg {
      position: relative;
      left: 2px;
      width: 16px;
    }
  }
  .portfolio-row {
    transition: all 0.25s ease;
  }
  .portfolio-blocked {
    text-decoration: line-through;
    cursor: not-allowed;
    opacity: 0.5;
  }
  .single-portfolio {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
    margin-bottom: 40px;
  }
  .portfolio-tags {
    padding-top: 0 !important;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    li {
      margin-right: 10px;
      color: $accent;
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 1.5px;
      &:before {
        content: "#";
      }
    }
  }
  .widget {
    .single-accordion {
      border: unset;
    }
  }
  a[href*="accordion"] {
    position: relative;
    border: 1px solid #eee;
    &:not(.collapsed) {
      &:after {
        transform-origin: center;
      }
    }
  }
  .blog-thumb {
    video {
      max-width: 100%;
      border-radius: $border-radius;
      width: 100%;
    }
  }
  .portfolio-content {
    li {
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
  .tags-widget-item {
    &:focus {
      color: unset !important;
    }
  }
  .portfolio-item {
    transition: all 0.2s;
    transition-delay: 0;
    display: block;
    height: auto;
  }
  .portfolio-item--hide {
    display: none;
  }
  .tags-widget-item--active {
    color: #7c4fe0 !important;
    &:focus {
      color: #7c4fe0 !important;
    }
    &:hover {
      color: #7c4fe0 !important;
    }
    &:active {
      color: #7c4fe0 !important;
    }
  }
}
@media (max-width: 991px) {
  #portfolio {
    .portfolio-row {
      margin-top: 30px;
    }
  }
}
@media (min-width: $xs) {
  #portfolio {
    img {
      &:not([src]) {
        min-height: calc(100vw / 6.88);
      }
    }
  }
}
@media (max-width: $xs) {
  #portfolio {
    img {
      &:not([src]) {
        min-height: 37.4vw;
      }
    }
  }
}
