@import "../css/variables";

.sidebar {
  @media (min-width: $xs) {
    // position: sticky;
    // top: 70px;
    height: 100%;
  }
}

[id] .posts-sidebar {
  height: 100%;
  &-date {
    margin-top: 5px;
    font-size: 11.5px !important;
  }

  &-button {
    &--desktop {
      @media (max-width: $xs) {
        display: none !important;
      }
    }

    &--mobile {
      @media (min-width: $xs) {
        display: none !important;
      }
    }
  }

  [data-toggle="collapse"] {
    &.collapsed {
      right: 30px;
    }

    &:not(.collapsed) {
      &:after {
        transform-origin: 2px 7px;
      }
    }
  }
}
