@import "../css/variables";
@import "../css/animations";

$text-color: $default-gray;
$image-width: 50%;
$border-padding: 30px;

.Product {
  padding-bottom: 40px;
  padding-top: 120px;

  &-license {
    display: block;
    margin-bottom: 20px;
    max-width: 350px;
    width: 100%;
    line-height: 19px;
  }

  &-img {
    border-radius: $border-radius;
  }

  &-container {
    display: flex;
    @media (max-width: $xs) {
      flex-direction: column;
    }
  }
  &-figure {
    position: sticky;
    top: -1px;
    transition: all 0.32s;

    &--is-pinned {
      @media (min-width: $xs) {
        transition: all 0.32s;
        padding-top: 80px;
      }
    }
  }

  &-text {
    // border-top: 1px solid #e8e8e1;
    // padding-top: $border-padding;

    margin-top: 30px;

    iframe[src*="giphy"] {
      pointer-events: none;
    }

    &,
    *:not(a)[style*="color"] {
      color: $text-color !important;
    }

    a {
      border-bottom: 1px solid $link-color !important;
      color: $link-color !important;
    }

    //subtitles within description

    > p > u > strong,
    > p > strong > u,
    > p > u > b,
    > p > b > u {
      font-size: 23px !important;
      border-bottom: 1px solid #e3e3e3;
      text-decoration: unset;
      display: block;
      padding-bottom: 10px;
      font-weight: 600;
      font-style: italic;
      margin-top: 15px;
      color: #222 !important;
    }
  }
  &-title {
    font-size: 2em;
    line-height: 150%;
  }

  &-price {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  &-atc {
    display: inline-table;
    margin-bottom: $border-padding;
  }

  &-picture {
    max-width: calc(#{$image-width});
    width: 100%;
    padding-right: 40px;

    @media (max-width: $xs) {
      max-width: 100%;
      padding: 0;
    }
  }

  &-description {
    max-width: calc(100% - #{$image-width});
    width: 100%;

    @media (max-width: $xs) {
      max-width: 100%;
    }
    iframe,
    video {
      max-width: 100%;
      width: 100%;
      min-height: 21vw;

      @media (max-width: $xs) {
        min-height: 47vw;
      }
    }
  }

  &-title-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e1;
    padding-bottom: 20px;
  }

  &-demo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13px;
    padding-bottom: 10px;
    // margin-bottom: 20px;
    // border-bottom: 1px solid #e8e8e1;
    // padding-bottom: 20px;
    font-size: 16px;

    svg {
      height: 13px;
      width: 13px;
      margin-right: 5px;
      fill: $accent;
      opacity: 0.8;
    }

    span {
      text-decoration: unset;
    }
  }

  /* Custom options for specific products
  ============================================= */

  &[data-product-slug="debut-theme-slider-pro"] {
    iframe[src*="giphy"] {
      min-height: 560px;

      @media (max-width: $xs) {
        min-height: 400px;
      }
    }
  }
}
