@import "../css/variables";
@import "../css/animations";

$border-radius: 3px;
$padding: 30px;

.reviews-text {
  overflow-x: hidden;

  .swiper-container {
    // width: 600px;
    // height: 300px;
    overflow: visible;
    max-width: 1200px;
    width: 100%;
  }

  .swiper-slide {
    max-width: 600px;
    padding-right: 0 !important;
  }

  .swiper-scrollbar {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    display: block;
    left: 50% !important;
    transform: translateX(-50%);
    bottom: -11px !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #9b9b9b80;

    &:focus {
      outline: unset;
    }
  }

  &-container {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
  }
  &-slider {
    // display: flex;
    // flex-wrap: wrap;

    @media (max-width: $xs) {
      display: block;
    }
  }

  &-box {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 18px;
    margin-bottom: 25px;
  }

  &-btn {
    position: relative;
    margin-top: 20px;
    display: inline-table;
    border-bottom-color: transparent;
    svg {
      transform: scale(0.77);
      position: relative;
      top: 1px;
      margin-left: 5px;
    }

    &:hover {
      // border-bottom-color: initial;
    }
  }

  &-item {
    flex-basis: 50%;
    border-radius: $border-radius;
    padding: $padding;
    margin: 10px;
    box-shadow: 0 0 40px 0 rgba(28, 43, 80, 0.1);
    margin-right: 10px !important;

    @media (max-width: $xs) {
      flex-basis: 70%;
    }

    @media (max-width: $xxs) {
      flex-basis: 100%;
      max-width: 90%;
    }

    &:nth-child(even) {
      // flex-basis: calc(50% - #{$padding});
      // margin-left: 30px;
    }

    //IF SLICK IS NOT ACTIVE
    // &:nth-child(3n) {
    //   margin-top: 40px;
    // }
  }

  &-testimonial {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 120px;
    max-width: 95%;
  }
  &-figure {
    max-width: 100px;
    width: 100%;
    margin-right: 20px;
    height: 100px;
    img {
      border: none;
      padding: 0;
      border-radius: 50%;
      box-shadow: 0 0 0 4px white, 0 0 0 5px #d1d1d1, 0 0 9px #555;
    }
  }

  &-about {
    width: 100%;
    .fas {
      color: gold;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
      height: 50px;

      span {
        display: block;
      }
    }

    p {
      color: #9da0ac;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
}
