@import "../css/variables";

$animation-delay: 1.2s; //this number has to be the same in SalesPop.js "delay" variable
$mobile-zoom: 0.95;
$flag-width: 17px;

$background-color: white;
$text-color: $black;

.ezfy-sales {
  --ak_layoutWidth: 355px;
  --ak_layoutHeight: 100px;
  --ak_layoutRadius: 100px;
  --ak_wrapImageWidth: 100px;
  --ak_widthWrapCloseButton: 22px;
  --ak_purchaseFontSize: 13px;
  --ak_purchaseLineHeight: 16px !important;
  --ak_productNameSize: 14px;
  --ak_productNameLineHeight: 16px !important;
  --ak_timerSize: 12px;
  --ak_timerSizeLineHeight: 16px !important;
  --ak-right-sales-end: 5px;
  --ak_col1padding: 4px 4px 4px 4px;
  --ak_imageWidth: 90px;
  --ak_imageHeight: 90px;
  --ak_imageRadius: 50%;

  font-size: 19px;
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #3c4049;
  line-height: 1.6;
  position: fixed;
  z-index: 4;
  left: 20px;
  bottom: 10px;
  -webkit-transition: all $animation-delay ease;
  -moz-transition: all $animation-delay ease;
  -ms-transition: all $animation-delay ease;
  -o-transition: all $animation-delay ease;

  @media (max-width: $xxxs) {
    left: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    transform: scale($mobile-zoom);
    bottom: 10px;
  }

  * {
    color: $text-color;
  }

  &-flag {
    margin-left: 5px;
    position: relative;
    height: calc(#{$flag-width} / 2);
    width: $flag-width;
    top: -1px;
  }

  &-wrap {
    --ak_layoutRadius: 5px;
    width: var(--ak_layoutWidth);
    min-height: var(--ak_layoutHeight);
    background: var(--ak-sale-popup-bg-col, #fff);
    border-radius: $border-radius;
    border-style: var(--ak-sale-popup-bd-type);
    border-width: var(--ak-sale-popup-bd-wd, "0px") !important;
    border-color: var(--ak-sale-popup-bd-col);
    padding-top: 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-box-shadow: -1px 2px 6px rgba(30, 32, 40, 0.3);
    -moz-box-shadow: -1px 2px 6px rgba(30, 32, 40, 0.3);
    box-shadow: -1px 2px 6px rgba(30, 32, 40, 0.3);
    background: $background-color;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-repeat: no-repeat;
    min-height: 98px;
    background-size: 100% 100%;

    @media (max-width: $xxxs) {
      width: 100%;
      max-width: 100%;
    }
  }

  &-details {
    max-width: 97%;
    * {
      padding-right: 0 !important;
      display: inline !important; 
      font-size: 12px !important;
    }
  }
  &-close {
    position: absolute;
    cursor: pointer;
    z-index: 4;
    padding: 1px;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;

    svg {
      width: 10px;
      fill: #999;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  &--hide {
    bottom: -200px;
    -webkit-transition: all $animation-delay ease-out;
    -moz-transition: all $animation-delay ease-out;
    -ms-transition: all $animation-delay ease-out;
    -o-transition: all $animation-delay ease-out;
  }

  .line1__ezfy {
    width: 210px;
    span {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .col1__ezfy {
    width: var(--ak_wrapImageWidth);
    padding: var(--ak_col1padding);
    display: flex;
    align-items: center;

    @media (max-width: $xxxs) {
      width: auto;
      max-width: 100%;
    }
  }

  .col2__ezfy {
    padding-left: 5px;
    flex: 1;
    position: relative;

    @media (max-width: 768px) {
      width: 284px;
    }

    .line1__ezfy {
      display: flex;
      align-items: center;
      min-height: calc(var(--ak_layoutHeight) / 2 - 10px);
      font-weight: 600;

      span {
        font-size: var(--ak_purchaseFontSize);
        line-height: var(--ak_purchaseLineHeight);
        padding-top: 5px;
        word-break: break-word;
        display: inline-block;
        text-decoration: none;
        color: var(--ak-sale-popup-title-col, #55586c);
        padding-right: 25px;
      }
    }
  }

  &-image {
    width: var(--ak_imageWidth);
    height: var(--ak_imageHeight);
    margin: 0 auto;
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    border-radius: $border-radius;
    opacity: 1;
  }

  .line2__ezfy {
    min-height: calc(var(--ak_layoutHeight) / 2 - 10px);
    display: flex;

    a,
    span {
      font-size: var(--ak_productNameSize);
      line-height: var(--ak_purchaseLineHeight);
      font-weight: 700;
      padding-top: 3px;
      word-break: break-word;
      display: inline-block;
      text-decoration: none;
      color: var(--ak-sale-popup-prd-nm-col, #55586c);
      text-decoration: var(--ak-sale-popup-prd-nm-text);
      padding-right: 15px;
      cursor: pointer;
      margin-bottom: 3px;

      &:hover {
        color: var(--ak-sale-popup-prd-nm-col-hv);
        text-decoration: var(--ak-sale-popup-prd-nm-text-hv);
      }
    }
  }

  .line3__ezfy {
    height: 20px;
    padding-bottom: 2px;
    line-height: 16px !important;
    display: flex;
    justify-content: space-between;

    .timer__ezfy {
      font-size: var(--ak_timerSize);
      line-height: var(--ak_timerSizeLineHeight);
      color: var(--ak-sale-popup-time-a-go, #55586c);
    }

    .salesEnd__ezfy {
      position: absolute;
      font-size: 11px;
      right: 0;
      margin-right: var(--ak-right-sales-end);
      font-weight: 700;
    }
  }
}
