@import "../css/variables";

.SearchBox {
  margin-bottom: 20px;
  &-filter {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    @media (max-width: $xs) {
      flex-direction: column;
    }
  }

  &-total {
    font-weight: 500;
  }

  input {
    max-width: 200px;
    height: 40px;
    border-radius: $border-radius;

    @media (max-width: $xs) {
      max-width: 100%;
      margin-top: 20px;
    }
  }
}
