/* ANIMATIONS start
=============================================== */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 0.85s ease both;
  animation: fade-out 0.85s ease both;
}

@-webkit-keyframes bounceHero {
  0% {
    top: 0px;
  }

  50% {
    top: 25px;
  }

  100% {
    top: 0px;
  }
}

@keyframes bounceHero {
  0% {
    top: 0px;
  }

  50% {
    top: 25px;
  }

  100% {
    top: 0px;
  }
}

.animation--float {
  position: relative;
  animation: bounceHero 3s infinite;
}

.animation--gradient-text {
  background-image: -webkit-linear-gradient(84deg, #ba99ff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  padding-right: 5px;
  position: relative;
  right: -2px;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

@keyframes confetti {
  0% {
    top: 100%;
  }
  100% {
    top: -130vh;
  }
}

/* ANIMATIONS end
=============================================== */
